# Virtual environment
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
.env

# Python
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# ML
*.joblib
*.pkl

# OS
.DS_Store
Thumbs.db

.env